appnope==0.1.0
argh==0.26.2
arrow==0.10.0
asn1crypto==0.23.0
beautifulsoup4==4.6.0
binaryornot==0.4.4
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
coala-utils==0.5.1
colorama==0.3.9
cookiecutter==1.6.0
coverage==4.4.2
cryptography==3.2
decorator==4.1.2
docopt==0.6.2
fake-useragent==0.1.8
future==0.16.0
githubpy==1.1.0
hupper==1.0
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
Jinja2==2.10
jinja2-time==0.2.0
lxml==4.6.5
Mako==1.0.7
MarkupSafe==1.0
ndg-httpsclient==0.4.3
oauthlib==2.0.6
parso==0.1.0
PasteDeploy==1.5.2
pathtools==0.1.2
pexpect==4.3.0
pickleshare==0.7.4
plaster==1.0
plaster-pastedeploy==0.4.1
pluggy==0.5.2
poyo==0.4.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.3.7
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.3.0
pypwned==0.1.6
pyramid==1.9.1
pyramid-debugtoolbar==4.3
pyramid-ipython==0.2
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-retry==0.5
pyramid-tm==2.2
pytest==3.2.3
pytest-cov==2.5.1
pytest-watch==4.1.0
python-dateutil==2.6.1
PyYAML==3.12
repoze.lru==0.7
requests==2.18.4
requests-oauthlib==0.8.0
selenium==3.7.0
simplegeneric==0.8.1
six==1.11.0
tox==2.9.1
traitlets==4.3.2
transaction==2.1.2
translationstring==1.3
urllib3==1.22
venusian==1.1.0
virtualenv==15.1.0
waitress==1.1.0
watchdog==0.8.3
wcwidth==0.1.7
WebOb==1.7.3
whichcraft==0.4.1
zope.deprecation==4.3.0
zope.interface==4.4.3
