<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Social Recon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"/>
    <link href="{{request.static_url('osint_scraper:static/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{request.static_url('osint_scraper:static/loading.css')}}">
    <link rel="shortcut icon" href="{{request.static_url('osint_scraper:static/Spy.png')}}">
  </head>
  <body>
    <div class="body" style="display: none"></div>
    <div class="progress" style="display: none"></div>
    <div class="main_page">
        <header id="header">
        </header>
        <div id="main-box" class="card bg-secondary text-white mb-3">
            <h1 class="header">Social Recon</h1>
            <form id="input_form" action="results">
                <div>
                    <h6 id="instructions">Input username and/or email to check popular social media sites for digital footprint.<br>Use the checkboxes below to choose specific sites, or search all.</h6>
                </div>
                <hr class="my-4">
                <table class="input-fields">
                    <tr>
                        <td>
                            <input class='form-control' type="text" name="email" placeholder="email" id="inputDefault">
                        </td>
                        <td id="ghost-td">
                        </td>
                        <td>
                            <input class='form-control' type="text" name="handle" placeholder="social media handle" id="inputDefault">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><a href="{{ request.route_url('results') }}"><input class="btn btn-success btn-lg btn-block"" type="submit" name="search" value="Search" id="search"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="twitter">Twitter</label>
                            <input type='checkbox' name='selected_sites' value='twitter'>
                        </td>
                        <td>
                            <label for="pwned">Pwned Emails</label>
                            <input type='checkbox' name='selected_sites' value='pwned'>
                        </td>
                        <td>
                            <label for="github">Github</label>
                            <input type='checkbox' name='selected_sites' value='github'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="facebook">Facebook</label>
                            <input type='checkbox' name='selected_sites' value='facebook'>
                        </td>
                        <td>
                            <label for="photobucket">Photobucket</label>
                            <input type='checkbox' name='selected_sites' value='photobucket'>
                        </td>
                        <td>
                            <label for="youtube">YouTube</label>
                            <input type='checkbox' name='selected_sites' value='youtube'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="flickr">Flickr</label>
                            <input type='checkbox' name='selected_sites' value='flickr'>
                        </td>
                        <td>
                            <label for="imgur">Imgur</label>
                            <input type='checkbox' name='selected_sites' value='imgur'>
                        </td>
                        <td>
                            <label for="hacked_email">Hacked Emails</label>
                            <input type='checkbox' name='selected_sites' value='hacked_email'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="wikipedia">Wikipedia</label>
                            <input type='checkbox' name='selected_sites' value='wikipedia'>
                        </td>
                        <td>
                            <label for="steam">Steam</label>
                            <input type='checkbox' name='selected_sites' value='steam'>
                        </td>
                        <td>
                            <label for="liveleak">Liveleak</label>
                            <input type='checkbox' name='selected_sites' value='liveleak'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="reddit">Reddit</label>
                            <input type='checkbox' name='selected_sites' value='reddit'>
                        </td>
                        <td>
                            <label for="pinterest">Pinterest</label>
                            <input type='checkbox' name='selected_sites' value='pinterest'>
                        </td>
                        <td>
                            <label for="medium">Medium</label>
                            <input type='checkbox' name='selected_sites' value='medium'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="trip">TripAdvisor</label>
                            <input type='checkbox' name='selected_sites' value='trip'>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <footer></footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
         <script type="text/javascript" src="{{request.static_url('osint_scraper:static/loading.js')}}"></script>
     </div>
  </body>
</html>
