<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <title>Social Recon</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"/>
    <link href="{{request.static_url('osint_scraper:static/reset.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{request.static_url('osint_scraper:static/Spy.png')}}">
  </head>
  <body>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
    <div class="copyright">
      Copyright &copy; Team Foxtrot
    </div>
  </body>
</html>
