body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;   
}

#input_form {
    position: relative;
    width: 40%;
    height: 10em;
    margin: auto;
    background-color: lightgrey;
    box-shadow: 1px 1px 1px #888888;
}

table {
    width: 80%;
    margin-top: 1em;
    margin-left: 10%;
    position: absolute;
}

.stencil {
    text-align: center;
    font-size: 7em;
    font-family: 'Stardos Stencil', cursive;
    margin: auto;
    color: #333;
}

#instruct {
    padding: 1em;
    margin-left: 0;
}

hr {
    border: #c6bebe solid 0.3px;
    width: 95%;
    margin: 0 auto;
}

input {
    border: none;
}

.text_input {
    width: 90%;
}

#submit_button {
    margin-top: 2em;
    border-radius: 0;
    background-color: #333;
    color: white;
    font-weight: bold;
}

#grey_box {
    padding-top: 4em;
}

#submit_button:hover {
    cursor: pointer;
}

/**/

.info_block {
    margin: 1em;
    width: 80%;
    min-height: 12em;
    border-bottom: thin lightgrey solid;
    
}

.content {
    width: 80%;
    margin: 1em auto;
    padding-bottom: 1em;
    background-color: #FFE4C2;
    box-shadow: 1px 6px 17px #888888;
}

#page {
    background-color: white;
    margin: 1em;
    box-shadow: 1px 6px 17px #888888;
    padding-bottom: 1em;
    background-image: url("dust_scratches.png");
}

.site_name {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
}

p {
    margin-left: 80px;
}

img {
    width: 8em;
    float: right;
    border: white solid thick;
    border-bottom-width: 1em;
    box-shadow: 1px 6px 17px #888888;
}

.bold{
    font-weight: bold;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: red;
}

#results_header {
    font-size: 3em;
}

#home_link {
    padding-left: 1em;
}

#sub_list {
    
}