/* Home styling */
#header {
    text-align: center;
}

.header{
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
}

#main-box {
    width: 70%;
    height: 32em;
    margin: 3em auto;
    text-align: center;
}

.input-fields {
    margin: auto;
}

#instructions {
    margin-top: 1em;
    margin-bottom: 1em;
}

#search {
    margin: 1em auto;
    width: 100%;
}

.box{
    width: 33%;
}

.box_pad {
    padding: 0 0 0 1.5em;
}

.four_five {
    width: 45%;
}

tbody {
    text-align: right;
    line-height: 0.9;
}

/* Results styling */
#home_link {
    font-size: 1.5em;
}

#results_header {
    text-align: center;
}

#all-box {
    font-size: 1.4em;
}

.photo-div {
    /*color: #eef2f5;*/
    border-width: 6px;
    border-color: #eef2f5 !important;
}

.photo-foot {
    background-color: #eef2f5;
    border-top: 1px solid rgba(0,0,0,0.6);
    border-bottom: none;
}

.photo-a {
    color: black !important;
    font-size: 1.5em;
}

.photo-button {
    float: right;
    background-color: #eef2f5;
}

.photo-pic {
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.found:hover{
    opacity: 0;
}

.bold {
    font-weight: bold;
}

.strike-out {
    margin: 0;
}

.content {
    width: 90%;
    margin: auto;
}

.not-found {
    opacity: 0.2;
}

.card-body:hover {
    /*background-color: white;*/
}

.site-detail {
    position: absolute;
    color: white;
    font-size: 0.9em;
    z-index: 5;
    max-width: 80%;
    max-height: 60%;
    overflow: hidden;
}

a {
    text-decoration: underline;
}